.home {
  position: relative;
  color: white;
  font-family: monospace;
  background-color: black;
  background-image: url('../assets/jessica.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  .hero {
    position: relative;

    .bg {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      filter: brightness(1);
      position: absolute;
      z-index: -1;
    }

    .content {
      padding: 100px 60px;
      max-width: 700px;

      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 20px;
        max-width: 600px;
      }

      .watch-btn {
        background: rgb(222, 6, 7);
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 30px;
        border-radius: 20px;
      }

      svg{
            margin-left: 6px;
            margin-top: 3px;
      }

      .info-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        gap: 40px;

        .info {
          display: flex;
          gap: 193px;
          margin-top: 73px;
          font-size: 17px;

          div {
            line-height: 1.8;
          }
        }

        

        .preview-thumbs {
          margin-left: 140px;
          display: flex;
          gap: 15px;

          img {
            width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 20px;
            cursor: pointer;
            opacity: 65%;
          }
        }
      }
      .info-movies {
          display: flex;
          gap: 193px;
          margin-top: 250px;
          font-size: 17px;

          div {
            line-height: 1.8;
          }
        }
    }
  }
}