
.login-page {
    display: flex;
    height: 100vh;
    background-color: red;
    font-family: 'Monospace', Arial, sans-serif;

    .left {
        flex: 1;
        background-color: rgb(4, 4, 4);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .right {
        flex: 1;
        background: rgb(4,4,4);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 3.7rem;
            margin-bottom: 3rem;

            span {
                color: #e62429;
            }
        }
        .input-group {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px 0;

            label {
                font-size: 1.2rem;
                margin-bottom: 5px;
                color: rgb(135, 135, 135);
                margin-left: 25px;
            }

            input {
                width: 90%;
                padding: 18px;
                background: #222;
                color: rgb(135, 135, 135);
                border-radius: 30px;
                border-color: rgb(135, 135, 135);
                border-style: solid;
            }
        }

        button {
            width: 55%;
            padding: 18px;
            background: #318afe;
            border: none;
            /* font-weight: 700; */
            font-size: 22px;
            cursor: pointer;
            border-radius: 30px;
            margin: 25px 0;
            color: white;
        }
    }
}