.articles-section {
  background: #000;
  color: #fff;
  padding: 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .articles-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 900px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
