.pricing-section {
  background: #000;
  color: #ccc;
  text-align: center;
  padding: 2rem;

  h2 {
    color: white;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.2rem 0;
    font-size: 1rem;
  }

  .plan-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}
